[project]
	description = The home of Project Buttonwood
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobofzhang
[access "refs/for/refs/*"]
	read = group user/bobofzhang
	push = group user/bobofzhang
	label-Code-Review = -2..+2 group user/bobofzhang
	label-Verified = -1..+1 group user/bobofzhang
	rebase = group user/bobofzhang
	removeReviewer = group user/bobofzhang
	submit = group user/bobofzhang
[access "refs/heads/*"]
	read = group user/bobofzhang
	create = group user/bobofzhang
	push = +force group user/bobofzhang
	pushMerge = group user/bobofzhang
[access "refs/tags/*"]
	push = +force group user/bobofzhang
	pushTag = group user/bobofzhang
	pushSignedTag = group user/bobofzhang
